.info{
    background-color:lightblue ;
    border:1px solid gray;
    
    
}
.info-2{
    background-color:rgb(25, 176, 226) ;
    border:1px solid gray;
    color:ivory;
}
.info-3{
    background-color:blue ;
    border:1px solid gray;
    color:ivory;
    
}