.hero-image {
    background-image: url("https://media.istockphoto.com/photos/healthcare-people-eyesight-and-vision-concept-small-cute-blond-girl-picture-id939574552?b=1&k=20&m=939574552&s=170667a&w=0&h=8VR87tIrthmuKGiOoBtF4aADvFgeNVOg3KU2etzntF4=");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top:20px;
    margin-bottom:30px;
  }
   h1{
    color: cornsilk;
  }
  .header-button{
    background-color:lightgreen ;
    border-radius: 5px;
  }